
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('kar.jpg'); /* Path to your background image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
}

header {
    text-align: center; 
    background-color: rgba(212, 137, 52, 0.8); /* Semi-transparent background for the header */
    color: white;
    padding: 10px 0;
}
nav {
    text-align: center; /* Center the navigation content */
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.content {
    background-color: rgba(255, 255, 255, 0.534); /* Semi-transparent white background for the text area */
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(51, 51, 51, 0.8); /* Semi-transparent background for the footer */
    color: white;
}
